*{
    /* color: black; */
    margin: 0;
}

.upperHeader{
  background-color: red;
  display: flex;
  width: 100%;
}
.upperHeader p{
  width: 40%;
  padding-top: 15px;
  padding-left: 10px;
  font-size: 10px;
  font-family: cursive;
  color: white;
}
.upperHeader h1{
  width: 60%;
  font-size: 30px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}
.bottomHeader{

}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
nav ul li {
    flex-grow: 1;
    border-right: 2px solid #c4c4c4;
    display: inline-block;
    float: left;
    padding: 0 15px;
  }
nav ul li:last-child {
    border-right: 0;
  }
nav ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-family: cursive;
    font-weight: bold;
    background-color: white;
    color: black;
  }
nav ul li a:hover{
  color: red;
}
.hrMain{
  width: 95%;
  margin: auto;
  margin-top: 5px;
  border: 1px solid #c4c4c4;
  }
.row h2{
  color: red;
}
img{
    width: 100%;
}
.row h2{
  padding-left: 10px;
}
.row::after{
  content: "";
  display: table;
  clear: both;
}
.column{
    float: left;
    width: 30.0%;
    padding: 15px;
}
footer{
  height: 100px;
}
.hrFooter{
  width: 95%;
  margin: auto;
  margin-top: 5px;
  border: 1px solid #c4c4c4;
}