@media screen and (max-width:1025px){
*{
    margin: 0;
}
.upperHeader{
  background-color: red;
  width: 100%;
  text-align: center;}
.upperHeader p{
  padding-top: 15px;
  padding-left: 10px;
  font-size: 10px;
  font-family: cursive;
  color: white;
}
.upperHeader h1{
  font-size: 30px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}
nav {
  background-color: white;
  width: 100%;
  height: 100%;
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: block;
  border-bottom: 2px dashed #c4c4c4;
}
nav li:last-child{
  border-bottom: 0;
}
nav a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav a:hover {
  color: red;
}
.hrMain{
  width: 95%;
  margin: auto;
  margin-top: 5px;
  border: 1px solid #c4c4c4;
  }
.usaSection h2, .worldSection h2{
  color: red;
}
img{
    max-width: 100%;
}
.usaSection h2, .worldSection h2{
  padding-left: 10px;
}
.usaSection, .worldSection, .adminArticle{
  flex-direction: column;
  justify-content: space-between;
}
.column{
  width: 97%;
  padding: 5px 5px 5px 5px ;
}
.columnAdmin{
  width: 97%;

}
/*footer*/
footer{
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
  height: 100px;
}
.hrFooter{
  width: 95%;
  margin: auto;
  margin-top: 5px;
  border: 1px solid #c4c4c4;
}
/* forma */

}
@media screen and (min-width: 1025px){
*{
    margin: 0;
}
.upperHeader{
  background-color: red;
  display: flex;
  width: 100%;
}
.upperHeader p{
  width: 40%;
  padding-top: 15px;
  padding-left: 10px;
  font-size: 10px;
  font-family: cursive;
  color: white;
}
.upperHeader h1{
  width: 60%;
  font-size: 30px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
nav ul li {
    flex-grow: 1;
    border-right: 2px solid #c4c4c4;
    display: inline-block;
    float: left;
    padding: 0 15px;
  }
nav ul li:last-child {
    border-right: 0;
  }
nav ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-family: cursive;
    font-weight: bold;
    background-color: white;
    color: black;
  }
nav ul li a:hover{
  color: red;
}
.hrMain{
  width: 95%;
  margin: auto;
  margin-top: 5px;
  border: 1px solid #c4c4c4;
  }
.usaSection h2, .worldSection h2 {
  color: red;
}
img{
    max-width: 100%;
}
.usaSection h2, .worldSection h2, .kategorijaSection h2{
  padding-left: 10px;
}
.usaSection::after, .worldSection::after, .kategorijaSection::after{
  content: "";
  display: table;
  clear: both;
}
.column{
    float: left;
    width: 30.0%;
    padding: 15px;
}
.columnAdmin{
  margin-left: 25%;
  margin-right: 25%;
  margin-top:2%;
  margin-bottom: 2%;
  width: 50%;
  border: 3px solid blue;
  padding: 10px;
}
.anchorArticle{
  text-decoration: none;
  color: black;
}
.articleBttn{
  color: white;
  background-color: red;
  padding: 5px;
  margin: 10px;
  display: inline-block;
}
.articleTitle{
  color: black;
  text-transform: uppercase;
}
.articleImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 700px;
}
.articleContent{
  display: block;
  margin-left: 50px;
  margin-right: 50px;
  font-size: larger;
}
.footerNew{
  position:absolute;
  bottom:0;
  width:100%;
  height:0px;   /* Height of the footer */
  height: 50px;
}
.hrFooter{
  width: 95%;
  margin: auto;
  margin-top: 5px;
  border: 1px solid #c4c4c4;
}
/*forma*/
#noviClanak{
  padding: 20px;
}
.unosKategorija{
  text-decoration: underline blue 3px;
  font-weight: bold;
}
.formClanakNaslov{
  text-transform: uppercase;
}
.slika{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.kategorijaSection{
  width: 100%;
}

}